.rest__timer__modal__base {
    /* height: 75svw; */
    /* width: 75svw; */

    /* background-color: darkblue; */

    position: fixed;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: calc(300px + 2rem);
    width: calc(250px + 1rem);
    /* width: calc(100% - 2rem); */
    /* margin: 1rem; */
    padding: 1rem;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 50px 50px;
    gap: 1rem;

    background-color: var(--smokyBlack);

    /* border-radius: 10px; */

    /* color: white;
    font-weight: bold;
    font-style: 1.1rem; */
}

.home__body__center__rest__buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 1rem;
}

.home__body__center__rest__buttons > div {
    background-color: white;
    /* border-radius: 5px; */

    color: black;
    font-weight: bold;
    font-size: 1.1rem;
}

.home__body__center__back {
    color: black;
    background-color: var(--lavendar);

    /* border-radius: 10px; */
    font-weight: bold;
    font-size: 1.1rem;
}

.timer-wrapper {
    display: flex;
    justify-content: center;
}

.time-wrapper {
    position: relative;
    width: 80px;
    height: 60px;
    font-size: 48px;
    font-family: "Montserrat";

    color: white;
}

.time-wrapper .time {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(0);
    opacity: 1;
    transition: all 0.2s;
}

.time-wrapper .time.up {
    opacity: 0;
    transform: translateY(-100%);
}

.time-wrapper .time.down {
    opacity: 0;
    transform: translateY(100%);
}