.home__body__center__ex__scroller__base {
    height: calc(250px + 2rem - 3px);
    grid-column: 1/13;

    /* background-color: lightblue; */

    border: 0.25px solid var(--santaGrey);

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px 1fr 50px;
}

.home__body__center__ex__scroller__base > div {
    border: 0.75px solid var(--santaGrey);
}

.home__body__center__ex__scroller__base__reps {
    font-size: 1.1rem;
    font-weight: bold;

    background-color: var(--paleBlue);
}

.home__body__center__ex__scroller__base__weight {
    font-size: 1.1rem;
    font-weight: bold;

    background-color: var(--paleBlue);
}

.home__body__center__ex__scroller__base__reps__control {
    padding: 1rem;

    overflow: hidden;
}

.home__body__center__ex__scroller__base__reps__control__container {
    background-color: var(--lavendar);

    height: 100%;
    width: 100%;

    border-radius: 1rem;
}

.home__body__center__ex__scroller__base__weight__control {
    padding: 1rem;

    overflow: hidden;
}

.home__body__center__ex__scroller__base__weight__control__container {
    background-color: var(--lavendar);

    height: 100%;
    width: 100%;

    border-radius: 1rem;
}

.home__body__center__ex__scroller__base__submit {
    grid-column: 1/3;

    background-color: var(--peach);

    font-size: 1.1rem;
    font-weight: bold;
}